{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Integrated Hospital Operations Management Information System Web input-group-append">
  <link rel="icon" href="{% static 'integrated/img/favicon.png'%}">
  <meta name="author" content="Jonas M Zaldua">
  <title>{{page}} - iHomis</title>
  <!-- Custom fonts for this template-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="{% static 'integrated/bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{%static 'integrated/css/sb-admin-2.css' %}" rel="stylesheet">
  <link href="//cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet">
  <link href="{%static 'integrated/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
  {% if page == 'Patient Record' %}
  <link href="{% static 'integrated/css/camera.css' %}" rel="stylesheet">
  {% endif %}
  {% if page == 'HIM' %}
  <link href="{% static 'integrated/css/upload.css' %}" rel="stylesheet">
  {% endif %}
  <link href="{% static 'integrated/css/alertify/alertify.min.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <!-- <link href="https://unpkg.com/@popperjs/core@2" rel="stylesheet" /> -->
  <link href="{% static 'integrated/laboratory/css/main.css' %}" rel="stylesheet">
  
</head>