{% load humanize %} 
{% load static %}
<div id="load">
<ul class="list-group">

    {% for i in charges.hproc %}
    <li class="list-group-item">
      {{i.details}}
      <a href="#"><span style="float:right">&nbsp;&nbsp;<i class="fa fa-times del" name="{{i.docointkey}}" id="{{enctr}}"></i></span></a>
      <text style="float:right">{{i.pcchrgamt|stringformat:".2f"|intcomma}}</text>
    </li>
    {% endfor %}

    {% for i in charges.pharma %}
    <li class="list-group-item">
      {{i.details}}
      <a href="#"><span style="float:right">&nbsp;&nbsp;<i class="fa fa-times del" name="{{i.docointkey}}" id="{{enctr}}"></i></span></a>
      <text style="float:right">{{i.pcchrgamt|stringformat:".2f"|intcomma}}</text>
    </li>
    {% endfor %}
    {% for i in charges.cssr %}
    <li class="list-group-item">
      {{i.details}}
      <a href="#"><span style="float:right">&nbsp;&nbsp;<i class="fa fa-times del" name="{{i.docointkey}}" id="{{enctr}}"></i></span></a>
      <text style="float:right">{{i.pcchrgamt|stringformat:".2f"|intcomma}}</text>
    </li>
    {% endfor %}

</ul>
</div>
<script>
   $(".del").on("click", function(){
    let intkey = $(this).attr("name")
    let enctr = $(this).attr("id")
    alertify.alert('Working on it!', 'Please while system is processing your request');
    $.ajax({
        type: "GET",
        data: {intkey: intkey, enctr: enctr},
        url: "../deletecharges",
        success: function(data) {
            alertify.alert().destroy(); 
            $("#load").load("/" + enctr + "/loadnursecharges")
        },
        error: function(error){
            console.log(error)
        }
    })
})
</script>