<!DOCTYPE html>
{% load static %}
{% include 'integrated/common/lab_head.html' with page=page %}
{% include 'integrated/common/head.html' with page=page %}
<style>
  /* ///////////////////////// */

/* ///////////////////////// */
</style>
<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    {% include 'integrated/common/sidebar.html' with page=page user_level=user_level %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        {% include 'integrated/common/top_nav.html' with name=name user_level=user_level %}
        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800"><i class="fa-solid fa-microscope"></i> | CLINICAL CHEMISTRY</h1>
                <div class="btn btn-group">
                  <a href="{% url 'laboratory'%}" class="btn btn-primary text-white" type="button"><i class="fa-solid fa-home"></i> Back</a>
                  <a href="#" class="btn btn-secondary text-white chemi_link" id="RELEASED" type="button"><span class="badge bg-secondary fs-6">0</span> Released</a>
                  <a href="#" class="btn btn-danger text-white add_machine"  type="button"><i class="fa-solid fa-plus"></i> Machine</a>
              </div>
            </div>
            <div class="row">
              <div class="container-fluid row">
                
                  <div class="col-xl-3 col-sm-6 col-12"> 
                    <div class="card chemi_link bg-dark text-white" id="PENDING">
    
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="align-self-center">
                              <!-- <i class="icon-users primary font-large-2 float-left"></i> -->
                              <i class="fa fa-syringe font-large-2 primary float-left" aria-hidden="true"></i>
                            </div>
                            <div class="media-body text-right">
                              <h3><i class="fa-solid fa-user"></i> <span class="cpending">0</span></h3>
                              <span class="fw-bolder h5">PENDING REQUEST</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12"> 
                    <div class="card chemi_link" id="ONPROCESS">
                     
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="align-self-center">
                              <i class="fas fa-id-card-alt font-large-2 primary float-left" aria-hidden="true"></i>
                            </div>
                            <div class="media-body text-right">
                              <h3><i class="fa-solid fa-user"></i> <span class="conprocess">0</span></h3>
                              <span class="fw-bolder h5">ONPROCESS REQUEST</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                 
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12"> 
                    <div class="card chemi_link" id="TOVERIFY">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="align-self-center">
                              <i class="fas fa-id-card-alt font-large-2 primary float-left" aria-hidden="true"></i>
                            </div>
                            <div class="media-body text-right">
                              <h3><i class="fa-solid fa-user"></i> <span class="ctoverify">0</span></h3>
                              <span class="fw-bolder h5">TO VERIFY REQUEST</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                 
                  </div>
                  
                  <div class="col-xl-3 col-sm-6 col-12"> 
                    <div class="card chemi_link" id="COMPLETED">
                         
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="align-self-center">
                              <!-- <i class="icon-users primary font-large-2 float-left"></i> -->
                              <i class="fa fa-syringe font-large-2 primary float-left" aria-hidden="true"></i>
                            </div>
                            <div class="media-body text-right">
                              <h3><i class="fa-solid fa-user"></i> <span class="ccompleted">0</span></h3>
                              <span class="fw-bolder h5">COMPLETED REQUEST</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                 
                  </div>

               <!-- Nav tabs -->
      <!-- /////////////// -->
      <h1 class="h3 mb-4 text-gray-800"><i class="fa-solid fa-users"></i> | <span id="r_display" class="bg-dark text-white pb-2 rounded w-100"> PENDING REQUEST</span></h1>
      <div class="input-group mb-3">
        <input type="date" id="date_search" class="form-control col-3" >
        <button class="btn btn-primary push" >Load</button>
        <div class="input-group-prepend">
       
          <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
        <input type="text" class="form-control" id="chemi_search" placeholder="Search Patient">
    </div>
  
    <table class="table table-hover table-striped mb-4" id="tbl-pending" style="cursor: pointer;">
        <thead>
            <tr>
                <th>CONTROL NO</th>
                <th>Request Date/Time</th>
                <th>Patient Name</th>
                <th>Ward</th>
                <th>Physician</th>
                <th>Total Test</th>
                <!-- <th class="text-center">Action</th> -->
            </tr>
        </thead>
        <tbody id="chemi_request_tbl">
          

        </tbody>
    </table>
    <div class="loader" hidden="true"></div>
    
    <!-- {{p_microscopy}} -->
    <!-- ////////////////////// -->

      </div>
      <!-- End of Main Content -->

         
      {% include 'integrated/laboratory/lab_modals/chem_modal.html' with page=page %}
      {% include 'integrated/common/rfid_patient_search_modal.html' with page=page%}
      {% include 'integrated/common/footer.html' %}
    
    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
  {% include 'integrated/common/logout_modal.html' %}
  {% include 'integrated/common/scripts.html' %}
  
  <script src="{% static 'integrated/laboratory/js/chemistry.js' %}"></script>
 <script>
  

 </script>
  
</body>

</html>
